<% provide :title, t(".title") %>
<h1><%= t ".title" %></h1>
<p>
  <%= t ".the" %><%= link_to t(".tutorial"), Settings.rails_tutorial %><%= t ".is_a" %>
  <%= link_to t(".book"), Settings.rails_tutorial_book %><%= t ".and" %>
  <%= link_to t(".sc"), Settings.sc_rails_tutorial %>
  <%= t ".nd" %>
</p>






