<% provide :title, t(".title") %>
<h1><%= t ".title" %></h1>
<p>
  <%= t ".nd_1" %>
  <%= link_to t(".tutorial_help"), Settings.rails_tutorial_help %>
  <%= t ".nd_2" %>
  <%= link_to t(".tutorial"), Settings.rails_tutorial_book %>
</p>

